{% extends "base.html" %}

{% block content %}
    <div style="text-align: center">
        <br><br>
        <h1>Администраторская панель</h1>
        <br><br>
        <a class="btn btn btn-outline-dark btn-animated" href="/account/admin/list_of_buyers">Список покупателей</a>
        <br><br>
        <a class="btn btn btn-outline-dark btn-animated" href="/account/admin/list_of_sellers">Список продавцов</a>
        <br><br>
        <a class="btn btn btn-outline-dark btn-animated" href="/account/admin/list_of_admins">Список администраторов</a>
        <br><br><br>
    </div>
{% endblock %}
