<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CupolMarket</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}"> <!-- Подключаем файл стилей -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Подключаем Bootstrap CSS -->
    <link rel="icon" href="/static/icon/icon.png" type="image/png">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="/static/icon/icon.png" width="50" height="50">
        <a class="navbar-brand" href="/">&#160; CupolMarket</a>
        <form class="form-inline mx-auto">
            <input class="form-control mr-sm-2" type="search" id="searchQuery" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0 btn-animated" type="submit" onclick="search(event)">Поиск</button>
        </form>
        {% if request.user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if request.user.type == "buyer" %}
                        <a class="nav-link custom-cart-btn" href="/basket">Корзина</a>
                    {% elif request.user.type == "seller" %}
                        <a class="nav-link custom-cart-btn" href="/product/add/start">Добавить товар</a>
                    {% elif request.user.type == "admin" %}
                        <a class="nav-link custom-cart-btn" href="/account/admin">Модерация</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-account-btn" href="/account">{{ request.user.get_user.name }} {{ request.user.get_user.surname }}</a>
                </li>
            </ul>
        {% else %}
            <p>
                <a class="btn btn btn-outline-dark btn-animated" href="/account/register">Зарегистрироваться</a>
                <a class="btn btn btn-outline-dark btn-animated" href="/account/login">Войти</a>
            </p>
        {% endif %}
    </div>
</nav>

{% block content %}{% endblock %}

<footer class="footer bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Телефон: 8 888 888 88-88</p>
                <p>Email: cupolmarketplace@yandex.ru</p>
            </div>
            <div class="col-md-4">
                <h5>Полезные ссылки</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about_us">О нас</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Подписаться</h5>
                <form id="subscribeForm" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" id="emailInput" placeholder="Введите ваш email" required>
                    </div>
                    <button type="submit" class="btn btn-light btn-animated" id="subscribeBtn">Подписаться</button>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <p>&copy; 2023-2024 Cupol company. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'scripts/getSubscribe.js' %}"></script>
<script src="{% static 'scripts/search.js' %}"></script>
<script src="{% static 'scripts/addProductPhoto.js' %}"></script>
<script src="{% static 'scripts/addToBasket.js' %}"></script>
<script src="{% static 'scripts/scroll.js' %}"></script>
<script src="{% static 'scripts/setProductId.js' %}"></script>
<script src="{% static 'scripts/checkFiles.js' %}"></script>
<script src="{% static 'scripts/basket.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/cookielib/src/cookie.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
